<a class="card" href="{{href}}">
  <span class="card__title">{{title}}</span>
  {{#summary}}<span class="card__excerpt">{{summary}}</span>{{/summary}}
  <span class="card__meta">
    <span>{{reading_minutes_fa}} دقیقه مطالعه</span>
    {{#is_recipe}}<span>{{kind_label}}</span>{{/is_recipe}}
  </span>
</a>
